@import 'styles/variables.scss';

.body, html{
    min-height: 100vh;
}

.wrap{
    height: calc(100vh - 147px);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

html, body, button, input, select{
    font-family: RobotoMono;
} 

html{
    scroll-behavior: smooth;
}
